/* write by Edik */

/* .collection-banner {
  background-image: url(https://test.gastrohevi.pl/img/cms/strony/uslugi/ogolnopolska_siec_gastrohevi.jpg);
  background-size: cover;
  background-position: center center;
  display: block;
} */

.collection-banner .contain-banner {
  justify-content: flex-start;
  padding: 30px;
  text-align: left;
  max-width: 400px;
}

.collection-banner .contain-banner .banner-title {
  font-size: 26px;
  text-transform: capitalize;
  line-height: 30px;
  margin-bottom: 15px;
}

h2.banner-title span {
  background-color: white;
  color: black;
  line-height: 1.65;
  padding: 1px 6px;
  box-decoration-break: clone;
}

p.banner-intro {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}

p.banner-intro span {
  background-color: white;
  color: black;
  line-height: 1.45;
  padding: 1px 6px;
  box-decoration-break: clone;
}

.logo-block img {
  width: 90%;
  height: auto;
}

.imgtxt-panel-inner {
  padding: 75px;
}

.imgtxt-panel-inner h2 {
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

@media (max-width: 1367px) {
  h2.banner-title span {
    line-height: 1.3;
  }
  p.banner-intro span {
    line-height: 1.2;
  }
}

.imgtxt-panel-container {
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
}
.img-panel {
  width: 50%;
}
.imgtxt-panel {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.benefits-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.benefits-grid-item {
  width: calc(100% / 3);
  flex-grow: 1;
  text-align: center;
  padding-bottom: 40px;
}
.benefits-grid-img {
  margin-bottom: 20px;
}
.dietitian--review--container {
  border-top: 1px solid #e5e5e5;
  display: block;
}
.dietitian--review--grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.dietitian--review--grid__item {
  width: calc(100% / 2);
  flex-grow: 1;
  text-align: center;
  padding-bottom: 60px;
  display: flex;
}
.dietitian--review--grid__item:nth-of-type(2n + 1) {
  padding-right: 30px;
}
.dietitian--review--grid__item:nth-of-type(2n) {
  padding-left: 30px;
}
.drgi--image {
  order: 1;
  width: 20%;
  padding-top: 5px;
}
.drgi--image img {
  width: 100%;
}
.drgi--info {
  order: 2;
  width: 80%;
  text-align: left;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.dark .benefits-grid-img {
  filter: invert(100);
}

/* responsive */
@media (min-width: 1368px) and (max-width: 1548px) {
  .ratio2_1 .bg-size:before {
    padding-top: 54%;
  }
}

@media (max-width: 1164px) {
  .collection-banner {
    height: 100%;
  }
  .collection-banner .img-part {
    position: absolute;
    z-index: -1;
    height: 100%;
  }
  .collection-banner .contain-banner {
    position: initial;
  }
  .imgtxt-panel-inner {
    padding: 50px;
  }
  .imgtxt-panel-inner h2 {
    font-size: 28px;
    line-height: 1.3;
  }
}

@media (max-width: 1024px) {
  .imgtxt-panel-inner {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .dietitian--review--grid__item {
    width: 100%;
    padding-bottom: 30px;
  }
  .dietitian--review--grid__item:nth-of-type(2n + 1) {
    padding-right: 0;
  }
  .dietitian--review--grid__item:nth-of-type(2n) {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .imgtxt-panel-inner {
    padding: 20px;
  }
  .imgtxt-panel-container {
    display: block;
  }
  .imgtxt-panel,
  .img-panel {
    width: 100%;
  }
  .blur-up.lazyloaded img {
    display: block !important;
  }
  .benefits-grid-item {
    width: calc(100% / 2);
  }
}

@media (max-width: 425px) {
  .benefits-grid-item {
    width: 90%;
  }
  .dietitian--review--grid__item {
    flex-wrap: wrap;
  }
  .drgi--image {
    width: 100%;
    padding: 0 30% 20px;
  }
  .drgi--info {
    width: 100%;
  }
}
